body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex :auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    border: black;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    display: inline-block;
    margin-top: 15px;
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.comic-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comic-line {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.comic-line img {
    flex: 0 0 auto;
    margin-right: 10px;
    justify-self: center;
    border: black;
    border-radius: 4px;
}
/*
.comic-line br {
    display: block;
}

/*.single-input-comic-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; 
}
*/